:root {
    --col-white: hsl(0, 0%, 100%);
    --col-light-gray: hsl(212, 45%, 89%);
    --col-grayish-blue: hsl(220, 15%, 55%);
    --col-dark-blue: hsl(218, 44%, 22%);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    font-family: Outfit;
    background: var(--col-light-gray);
    overflow: hidden;
}

.container {    
    width: 20rem;   
}

.card {
    text-align: center;
    background: var(--col-white);
    border-radius: 1rem;
    padding: 1rem;
}

.image {
    display: block;
    padding-bottom: 1rem;
}

img {
    width: 18rem;    
    border-radius: 1rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--col-dark-blue);
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--col-grayish-blue);
}
